body {
  font-family: avenir, helvetica, sans-serif;
  background: #4A9543;
  color: white;
  font-size: 15px;
}

h1 {
  height: 3em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 200;
  letter-spacing: .07em;
}

.frame {
  height: 3000px;
}

svg {
  position: fixed;
  margin: auto;
  top: -200px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-top: 6em;
}

.letters {
  stroke: #fff;
  stroke-width: 1.0px;
  fill: transparent;
  position: fixed;
  margin: auto;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transform: scale(1.8);
  transition: transform 2.0s;
}

.letters--scaled {
  transform: scale(2.0);
}

.letter--outline {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  transition: 
    stroke-width 0.2s linear,
    fill 0.2s;
}

.letter--fill {
  transition: 
    stroke-width 0.5s linear,
    fill 0.7s,
    transform 2.0s;
  fill: white;
  stroke-dasharray: "none";
  stroke-width: 0px;

}
